body {
 background-color: rgb(240, 248, 255); /* Light Blue */
 font-family: Arial, Helvetica, sans-serif;
 margin: 0;
 box-sizing: border-box;
}

.container {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 100px;
 margin: 0;
}

h1,
h2,
h3 {
 z-index: 1;
 position: absolute;
 top: 0;
 color: rgb(50, 50, 50); /* Dark Gray */
}

#title {
 margin-top: 80px;
 font-size: 1.8em;
 color: rgb(30, 144, 255); /* Dodger Blue */
}

#description {
 margin-top: 120px;
 font-size: 1.2em;
 color: rgb(105, 105, 105); /* Dim Gray */
 font-style: italic;
}

#nav {
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
 top: 0;
 margin-top: 170px;
 margin-bottom: 40px;
}

#nav a {
 display: block;
 height: 25px;
 background: rgb(70, 130, 180); /* Steel Blue */
 padding: 5px;
 text-align: center;
 border-radius: 5px;
 color: white;
 font-weight: normal;
 font-size: 0.8em;
 text-decoration: none;
 margin: 0 10px;
 padding: 8px;
 line-height: 25px;
 border: 1px solid #4a4a4a; /* Dark Gray */
}

#nav a:hover {
 background: rgb(30, 144, 255); /* Dodger Blue */
 border: 1px solid #2a2a2a; /* Almost Black */
}

#map {
 margin-top: 120px;
}

#tooltip {
 background-color: rgb(245, 245, 245); /* White Smoke */
 border-radius: 10px;
 width: 150px;
 height: auto;
 padding: 10px;
 position: absolute;
 box-sizing: border-box;
 opacity: 0.9;
}

#tooltip.hidden {
 display: none;
}

#tooltip p {
 margin: 0;
 font-size: 0.7em;
 text-align: center;
}

#tooltip p span {
 font-weight: 700;
}

#legend {
 margin: 0 auto;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 box-sizing: border-box;
 background-color: transparent;
 color: #000; /* Black */
}

.legend {
 background-color: rgb(173, 216, 230); /* Light Blue */
 border-radius: 30px;
 color: #000; /* Black */
}

.legend-text {
 font-size: 0.9em;
 color: rgb(100, 100, 100); /* Gray */
 font-weight: bold;
}

.text {
 font-size: 0.65em;
}
