body {
  color: #555;
  background-color: #fafafa;
}
h1 {
  color: #555;
  text-align: center;
}
p {
  font-size: 20px;
  text-align: center;
}

svg {
  border: 1px solid rgb(239, 237, 245);
}
.chart-caineront {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
}

.county {
  cursor: pointer;
  &:hover {
    fill: rgba(244, 66, 66, 0.5);
  }
}

.data-tooltip {
  background: rgba(0,0,0, 0.9);
  border-radius: 4px;
  color: white;
  padding: 1em;
  font-size: 12px;
  position: absolute;
}
